<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MqttHistoricalServerConsole.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <MqttHistoricalServerConsole.Settings>
            <setting name="SQLServerAddr" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SQLServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>mqttdb</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="WebServerPort" serializeAs="String">
                <value>8086</value>
            </setting>
            <setting name="AdminWebServerPort" serializeAs="String">
                <value>8087</value>
            </setting>
        </MqttHistoricalServerConsole.Settings>
    </userSettings>
</configuration>
